@model Nicoline_Rasemont.ViewModels.ChecksumViewModel

<h1>Checksum</h1>
<p><i>Bereken de checksum van de gegeven reeks</i></p>
<p>Checksum: @Model.Result</p>
<br />
<br />
<p><i>
    Bereken een gelijkaardige checksum maar vergelijk dan elk cijfer met het cijfer halfweg de ringbuffer in plaats
    van het daaropvolgende cijfer
</i></p>
<p>Checksum bonusvraag: @Model.BonusResult</p>

