
<h1>Welkom</h1>
<div class="personalia"> 
    <img src="~/images/profile.jpg" height="250" />
    <p>
        Ik ben Nicoline Rasemont. Een enthousiasteling met een liefde voor informatica.
        De liefde voor informatica kwam al een hele tijd terug, toen ik merkte dat informatica
        vaak een oplossing bood om “dagdagelijkse” taken een stuk makkelijker te maken.
        Om op een creatieve manier nieuwe “hulpmiddelen” te maken voor de mensen.
        En niet alleen op professioneel vlak maar ook in mijn
        persoonlijk leven zoek ik vaak naar oplossingen en wil ik hulp bieden.
        Zo ben ik bestuurslid van een socio-culturele vereniging die zich
        inzet voor vele verschillende doelen (quiz organiseren ten voordele
        van een goed doel, een geefplein inrichten om minder bedeelden te helpen ...).
        Kortom ik werk graag samen om tot nieuwe oplossingen te komen !
    </p>
</div>



