@model Nicoline_Rasemont.ViewModels.InstructiesetViewModel

<h1>InstructieSet</h1>
<p><i>Wat is de hoogste waarde over alle registers na het uitvoeren van alle instructies</i></p>
<p>Hoogste waarde : @Model.Result</p>
<br />
<br />
<p><i>Wat is de hoogste waarde over alle registers tijdens het uitvoeren van de instructies</i></p>
<p>Hoogste waarde tijdens uitvoering: @Model.BonusResult</p>

