@model Nicoline_Rasemont.ViewModels.StreamProcessingViewModel

<h1>StreamProcessing</h1>
<p><i>Bereken de score van de geleverde datastream</i></p>
<p>Score : @Model.Result</p>
<br />
<br />
<p><i>Hoeveel karakters onzin bevatte de datastream</i></p>
<p>Aantal karakters onzin: @Model.BonusResult</p>


