@model Nicoline_Rasemont.ViewModels.ValidatorViewModel

<h1>Validator</h1>
<p><i>De validatieregel voor een passwoord zin is dat deze geen semi-duplicate woorden mag bevatten</i></p>
<p>Aantal zinnen die voldoen aan de validatieregel: @Model.Result</p>

